/* body { */
    /* background: #70A4E8;  */
    /* background: url('img/fondos1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center; */

    /* background: url('img/fondos1.jpg') no-repeat fixed center center;
    background-size: 500px; */

/* } */

.fondo {
    width: 600px;
    height: 600px;
    background: url('img/fondos1.jpg') #000;
    background-repeat: no-repeat;
    background-size: 50%;
}