/* SELECTOR UNIVERSAL */
/* * {
    color: red;
} */

/* SELECTORES DE ETIQUETA */
h1, h2, h3 {
    color: blue;
}

h2 {
    color: red;
}

/* SELECTOR DESENDENTE */
div  p {
    font-size: 20px;
    color: black;
}

p a {
    color: red;
}

/* PARA SELECCIONAR CLASS */
.grande {
    font-size: 28px;
}

/* NO ES CORRECTO USAR ID PARA CSS 
ASI SE INSTANCIA UN ID 
SE UTILIZA MEJOR PARA JAVASCRIPT */
#grande {
    color: red;
    font-size: 30px;
}

